*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* +++++++++++++++++++++ROOT+++++++++++++++++++++  */

:root {

    /* Font-size */

    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-26: 1.625rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-42: 2.625rem;
    --fs-50: 3.125rem;
    --fs-56: 3.5rem;
    --fs-64: 4rem;
    --fs-72: 4.5rem;

    /* Active */
    --accent-color: #B0A8B9;

    /* gradients */

    --mainBg-color: #fefefe;

    /* Colors */
    
    --textColor:#4B4453;

    /* Colors lien Work */
    --bgColorYellow:rgba(227, 205, 139);
    --bgColorLightOrange:rgba(240, 190, 134);
    --bgColorGreen:rgba(93, 112, 82);
    --bgColorDarkOrange:rgba(193, 136, 69);

    /* Fonts */
    --font-family-soft: "Nunito", sans-serif;
    --font-family-bold: "Roboto Condensed, sans-serif";
}


/* -------------------------------------------------------- */




/* +++++++++++++++++++++GENERAL++++++++++++++++++++ */

body {
    min-height: 100vh;
    font-family: var(--font-family-bold);
    padding: clamp(20px, 5vw, 50px) 20px 10px;
    background: var(--mainBg-color) ;
    color: var(--textColor);
}

html {
    scroll-behavior: smooth;
}


/* +++++++++++++++++++++ScrollBarrTop++++++++++++++++++++ */

.progress{
    background: rgba(93, 112, 82);
    height: 5px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
/* +++++++++++++++++++++NAVBAR++++++++++++++++++++ */

.nav-bar {
    max-width: 700px;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.underlined-link {
    text-decoration: none;
    font-size: var(--fs-24);
    color: var(--accent-color);
}

/* anim nav */
a::after {
    content: "";
    display: block;
    height: 1px;
    background: var(--accent-color);
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}
.underlined-link:hover::after {
    transform: scale(1);
}



/* +++++++++++++++++++++BLOCK TEXT++++++++++++++++++++ */

.global-container{
    max-width: 800px;
    margin: 50px auto;
    font-size: clamp(16px, 2vw, 20px);
    font-family: var(--font-family-soft);
    color: var(--textColor);
    padding: 15px;
}


.block {
    margin: 0 auto;
    line-height: 2;
}

.block > p {
    padding: 10px 0px;
    margin-bottom: var(--fs-24);
}


p span {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.css-language {
    display: block;
    font-weight: 600;
    text-align: end;
    font-size: var(--fs-14);
}


/* +++++++++++++++++++++PARALLAX++++++++++++++++++++ */

.parallax {
    width: 100%;
    position: relative;
    background-image: url(LIENS/fond\ parallax.png);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.subtitle-work {
    font-size: var(--fs-56);
    color: var(--mainBg-color);
    padding: var(--fs-64);
    font-family: var(--font-family-bold);
    text-shadow: 2px 2px 2px #333;
}


/* +++++++++++++++++++++NAV WORKS++++++++++++++++++++ */

.works-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 130px;
}
.listWork{
    color: #333;
    text-decoration: none;
    font-family: var(--font-family-bold);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
/* +++++++++++++++++++++SELECTION COLOR LINK WORKS++++++++++++++++++++ */

.listWork:nth-child(1){
    background: var(--bgColorYellow);
}
.listWork:nth-child(2){
    background: var(--bgColorLightOrange);
}
.listWork:nth-child(3){
    background: var(--bgColorGreen);
}
.listWork:nth-child(4){
    background: var(--bgColorDarkOrange);
}
.listWork:nth-child(5){
    background: var(--bgColorYellow);
}
.listWork:nth-child(6){
    background: var(--bgColorLightOrange);
}
.listWork:nth-child(7){
    background: var(--bgColorGreen);
}
.listWork:nth-child(8){
    background: var(--bgColorDarkOrange);
}
.listWork:nth-child(9){
    background: var(--bgColorYellow);
}
.listWork:nth-child(10){
    background: var(--bgColorLightOrange);
}
.listWork:nth-child(11){
    background: var(--bgColorGreen);
}


/* +++++++++++++++++++++BLOCK CONTACT++++++++++++++++++++ */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--fs-20);
    gap: var(--fs-26);
    margin-top: 50px;
}
.icon {
    width: var(--fs-22);
}

/* +++++++++++++++++++++ANIMATION SCROLL Work Link ++++++++++++++++++++ */


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/* +++++++++++++++++++++QUERY++++++++++++++++++++ */

@media screen and (orientation: portrait){
    .underlined-link {
        text-decoration: none;
        font-size: var(--fs-20);
        color: var(--accent-color);
        font-weight: 100;
    }
    .global-container{
        margin: 0 auto;
        padding: 15px;
    }
    .css-language {
        font-size: var(--fs-12);
    }
    .parallax{
        margin-bottom: 10px;
    }
    .subtitle-work {
        font-size: var(--fs-36);
        padding: var(--fs-36);
    }
}